name: Build & Deploy

on:
  push:
    branches:
      - main
env:
  CI: false

jobs:
  build:
    name: Build
    run-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 20
          
      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Build Project
        run: npm run build
        env:
          VITE_APIKEY: ${{ secrets.VITE_APIKEY }}
          VITE_AUTHDOMAIN: ${{ secrets.VITE_AUTHDOMAIN }}
          VITE_PROJECTID: ${{ secrets.VITE_PROJECTID }}
          VITE_STORAGEBUCKET: ${{ secrets.VITE_STORAGEBUCKET }}
          VITE_MESSAGINGSENDERID: ${{ secrets.VITE_MESSAGINGSENDERID }}
          VITE_APPID: ${{ secrets.VITE_APPID }}
          VITE_BASE_URL: ${{ secrets.VITE_BASE_URL }}
          VITE_IMGBB_API: ${{ secrets.VITE_IMGBB_API }}
          VITE_STRIPE_PK: ${{ secrets.VITE_STRIPE_PK }}

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v2
        with:
          name: production-files
          path: ./build
                    
    

  deploy:
    name: deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: Production-files
          uses: ./build
      - name: Deploy to Github pages
        uses: peaceiris/actions-gh-pages@v3
        with: 
          github_token: ${{ secrets.VITE_TOKEN }}
          publish_dir: ./build
        








    
